[submodule "conciliacion_bancaria"]
	path = conciliacion_bancaria
	url = git@github.com:rocketgithub/conciliacion_bancaria.git
	branch = 11.0
[submodule "l10n_gt_extra"]
	path = l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "bolson"]
	path = bolson
	url = git@github.com:rocketgithub/bolson.git
	branch = 11.0
[submodule "gface_ecofacturas"]
	path = gface_ecofacturas
	url = git@github.com:rocketgithub/gface_ecofacturas.git
	branch = 10.0
[submodule "mundodelcarton"]
	path = mundodelcarton
	url = git@github.com:rocketgithub/mundodelcarton.git
[submodule "rrhh"]
	path = rrhh
	url = git@github.com:rocketgithub/rrhh.git
	branch = 11.0
[submodule "kardex"]
	path = kardex
	url = https://github.com/rocketgithub/kardex.git
	branch = 11.0
[submodule "fel_gt"]
	path = fel_gt
	url = git@github.com:rocketgithub/fel_gt.git
	branch = 11.0
[submodule "fel_ecofactura"]
	path = fel_ecofactura
	url = git@github.com:rocketgithub/fel_ecofactura.git
	branch = 11.0
[submodule "hr_expense_invoice"]
	path = hr_expense_invoice
	url = git@github.com:rocketgithub/hr_expense_invoice.git
